@charset "UTF-8";
/* Fonts */
@font-face {
  font-family: "neoneon", sans-serif;
  src: url("/fonts/Neoneon.otf");
}

/* Base elements */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html {
  background: url("/img/footer-bkg.jpg") no-repeat center center fixed;
  background-size: cover;
}

body {
  font-family: roboto-condensed, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #dccfff;
  line-height: 1.2;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.home {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

h1,
h2 {
  color: #ff32a5;
  font-family: "neoneon", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 60px;
  text-shadow: 0 0 20px #ff32a5;
  text-align: center;
}

h2 {
  font-family: teko, sans-serif;
  font-size: 40px;
}

h2 span {
  font-size: 35px;
  display: block;
}

h3 {
  font-family: teko, sans-serif;
}

@media screen and (max-width: 600px) {
  h1,
  h2,
  h3 {
    text-align: center;
  }
}

p {
  font-family: roboto-condensed, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
}

@media screen and (max-width: 600px) {
  p {
    font-size: 16px;
    line-height: 1.4;
  }
}

a {
  color: #7f59ff;
  text-decoration: none;
  font-weight: 400;
}

a:visited {
  color: #7f59ff;
}

a:hover,
a:focus {
  color: #fff;
  text-shadow: 0 0 20px #ffffff;
}

a:active {
  color: #7f59ff;
}

ul {
  list-style-type: none;
}

ul li {
  padding: 0;
  margin: 0;
}

ul a {
  padding: 5px;
  display: block;
}

div {
  padding: 0;
  margin: 0;
}

.button, .button__primary, .button__secondary {
  border: none;
  font-family: inherit;
  background-color: #ff32a5;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #262626;
  padding: 10px 20px;
  border-radius: 3px;
  border-bottom: 4px solid #a8236e;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  margin-top: 40px 0;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button:hover, .button__primary:hover, .button__secondary:hover, .button:focus, .button__primary:focus, .button__secondary:focus {
  cursor: pointer;
  -webkit-box-shadow: 0 0 20px #ff32a5;
          box-shadow: 0 0 20px #ff32a5;
}

button,
a.button,
a.button__primary,
a.button__secondary {
  border: none;
  font-family: inherit;
  background-color: #ff32a5;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #262626;
  padding: 10px 20px;
  border-radius: 3px;
  border-bottom: 4px solid #b31e72;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  margin-top: 40px 0;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

button:hover, button:focus,
a.button:hover,
a.button__primary:hover,
a.button__secondary:hover,
a.button:focus,
a.button__primary:focus,
a.button__secondary:focus {
  cursor: pointer;
  -webkit-box-shadow: 0 0 20px #ff32a5;
          box-shadow: 0 0 20px #ff32a5;
}

@media screen and (max-width: 600px) {
  button,
  a.button,
  a.button__primary,
  a.button__secondary {
    display: block;
    text-align: center !important;
    width: 100%;
  }
}

.button__secondary {
  background-color: #43fbfe !important;
  border-bottom: 4px solid #01a4a7 !important;
}

.button__secondary:hover, .button__secondary:focus {
  -webkit-box-shadow: 0 0 20px #43fbfe !important;
          box-shadow: 0 0 20px #43fbfe !important;
}

/* Utilities */
.block {
  display: block !important;
}

@media screen and (max-width: 600px) {
  .block-for-mobile {
    display: block !important;
  }
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.bold {
  font-weight: 500 !important;
}

.hide {
  display: none !important;
}

.no-show {
  visibility: hidden;
}

.row {
  padding: 60px 20px;
}

@media screen and (max-width: 600px) {
  .row {
    padding: 20px;
  }
}

/* Spacers */
.m-10 {
  margin: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.p-10 {
  padding: 10px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.m-20 {
  margin: 20px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.p-20 {
  padding: 20px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.m-30 {
  margin: 30px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.p-30 {
  padding: 30px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.m-40 {
  margin: 40px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.p-40 {
  padding: 40px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.m-50 {
  margin: 50px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.p-50 {
  padding: 50px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.pl-50 {
  padding-left: 50px !important;
}

.pr-50 {
  padding-right: 50px !important;
}

.m-60 {
  margin: 60px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.ml-60 {
  margin-left: 60px !important;
}

.mr-60 {
  margin-right: 60px !important;
}

.p-60 {
  padding: 60px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.pb-60 {
  padding-bottom: 60px !important;
}

.pl-60 {
  padding-left: 60px !important;
}

.pr-60 {
  padding-right: 60px !important;
}

.m-70 {
  margin: 70px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.ml-70 {
  margin-left: 70px !important;
}

.mr-70 {
  margin-right: 70px !important;
}

.p-70 {
  padding: 70px !important;
}

.pt-70 {
  padding-top: 70px !important;
}

.pb-70 {
  padding-bottom: 70px !important;
}

.pl-70 {
  padding-left: 70px !important;
}

.pr-70 {
  padding-right: 70px !important;
}

.m-80 {
  margin: 80px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.ml-80 {
  margin-left: 80px !important;
}

.mr-80 {
  margin-right: 80px !important;
}

.p-80 {
  padding: 80px !important;
}

.pt-80 {
  padding-top: 80px !important;
}

.pb-80 {
  padding-bottom: 80px !important;
}

.pl-80 {
  padding-left: 80px !important;
}

.pr-80 {
  padding-right: 80px !important;
}

.m-90 {
  margin: 90px !important;
}

.mt-90 {
  margin-top: 90px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.ml-90 {
  margin-left: 90px !important;
}

.mr-90 {
  margin-right: 90px !important;
}

.p-90 {
  padding: 90px !important;
}

.pt-90 {
  padding-top: 90px !important;
}

.pb-90 {
  padding-bottom: 90px !important;
}

.pl-90 {
  padding-left: 90px !important;
}

.pr-90 {
  padding-right: 90px !important;
}

.m-100 {
  margin: 100px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.ml-100 {
  margin-left: 100px !important;
}

.mr-100 {
  margin-right: 100px !important;
}

.p-100 {
  padding: 100px !important;
}

.pt-100 {
  padding-top: 100px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}

.pl-100 {
  padding-left: 100px !important;
}

.pr-100 {
  padding-right: 100px !important;
}

/* Animations */
@-webkit-keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 2rem #7f59ff, 0 0 4rem #7f59ff, 0 0 6rem #7f59ff, 0 0 8rem #7f59ff, 0 0 10rem #7f59ff;
    opacity: 1;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: 0;
  }
}
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 2rem #7f59ff, 0 0 4rem #7f59ff, 0 0 6rem #7f59ff, 0 0 8rem #7f59ff, 0 0 10rem #7f59ff;
    opacity: 1;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: 0;
  }
}

@-webkit-keyframes soft-flicker {
  100% {
    text-shadow: 0 0 40px #ff32a5, 0 0 80px #ff32a5, 0 0 90px #ff32a5, 0 0 100px #ff32a5, 0 0 150px #ff32a5;
  }
  0% {
    text-shadow: 0 0 38px #ff32a5, 0 0 73px #ff32a5, 0 0 80px #ff32a5, 0 0 94px #ff32a5, 0 0 140px #ff32a5;
  }
}

@keyframes soft-flicker {
  100% {
    text-shadow: 0 0 40px #ff32a5, 0 0 80px #ff32a5, 0 0 90px #ff32a5, 0 0 100px #ff32a5, 0 0 150px #ff32a5;
  }
  0% {
    text-shadow: 0 0 38px #ff32a5, 0 0 73px #ff32a5, 0 0 80px #ff32a5, 0 0 94px #ff32a5, 0 0 140px #ff32a5;
  }
}

/* Animation classes*/
.soft-flicker {
  -webkit-animation: soft-flicker 1s ease-in-out infinite alternate;
          animation: soft-flicker 1s ease-in-out infinite alternate;
}

.flicker {
  -webkit-animation: flicker 1.5s infinite alternate;
          animation: flicker 1.5s infinite alternate;
}

.pink-glow {
  text-shadow: 0 0 21px #ff32a5, 0 0 42px #ff32a5, 0 0 82px #ff32a5, 0 0 92px #ff32a5, 0 0 102px #ff32a5, 0 0 151px #ff32a5;
}

/* Header */
.page-header {
  background-image: -webkit-gradient(linear, left top, right top, from(#03001e), to(#270144));
  background-image: linear-gradient(to right, #03001e, #270144);
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header .page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.page-header .logo {
  width: 80px;
  height: 80px;
}

.page-header .navigation-list {
  margin: 0;
  padding: 23px 25px 0;
}

.page-header .navigation-list li {
  display: inline-block;
  padding: 0 10px;
  margin-left: 15px;
}

.page-header .navigation-list .navigation-list__item {
  font-family: teko, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #ff32a5;
  text-transform: capitalize;
  -webkit-transition: text-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: text-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

.page-header .navigation-list .navigation-list__item:visited {
  color: #ff32a5;
}

.page-header .navigation-list .navigation-list__item:hover, .page-header .navigation-list .navigation-list__item:focus {
  color: #fff;
  text-shadow: 0 0 20px #ffffff;
}

.page-header .navigation-list .navigation-list__item:active {
  color: #ff32a5;
}

.page-header .navigation-list .navigation-list__item--active {
  color: #fff !important;
  text-shadow: 0 0 20px #ffffff;
}

@media screen and (max-width: 600px) {
  .page-header .navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 26px 0 0;
    text-align: center;
  }
  .page-header .navigation-list li {
    margin-left: 0;
    padding: 0;
  }
  .page-header .navigation-list li:first-child {
    display: none;
  }
}

/* Main Content */
.main-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 10vw 20px 15vw;
  top: 80px;
  position: relative;
  max-width: 75%;
}

@media screen and (max-width: 600px) {
  .main-container {
    padding: 5vw 0 15vw;
  }
}

/* Footer */
.page-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 60px 20px 20px;
}

.page-footer .footer__socials {
  margin: 0 auto;
}

.page-footer .footer__socials .socials-list {
  padding: 0;
}

.page-footer .footer__socials .socials-list li {
  display: inline-block;
  padding: 10px;
}

/* ❤️ PAGES ❤️ */
/* Home */
body.home .main-container {
  padding: 15vw 20px 15vw;
}

body.home .main-container .profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

body.home .main-container .profile > [class^="profile"] {
  padding: 20px;
}

body.home .main-container .profile .profile__photo-holder {
  white-space: nowrap;
  text-align: center;
  margin: 1em 0;
}

body.home .main-container .profile .profile__photo-holder .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

body.home .main-container .profile .profile__photo-holder .profile__portrait {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
  border: 6px solid #ff32a5;
  background: -webkit-gradient(linear, left top, right top, from(#b097fd), to(#5b38c9));
  background: linear-gradient(to right, #b097fd, #5b38c9);
  -webkit-box-shadow: 0 0 50px #ff32a5;
          box-shadow: 0 0 50px #ff32a5;
  vertical-align: middle;
}

body.home .main-container .profile .profile__copy-holder {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body.home .main-container .profile .profile__copy-holder .main-container__subtitle {
  font-family: neoneon, sans-serif;
  font-size: 35px;
  color: #7f59ff;
  text-shadow: 0 0 20px #7f59ff;
  font-weight: 300;
  font-weight: 600;
}

body.home .main-container .profile .profile__copy-holder .main-container__subtitle span {
  font-size: 30px;
}

@media all and (max-width: 1195px) {
  body.home .main-container .profile .profile__copy-holder {
    text-align: center;
    padding-left: 0;
  }
  body.home .main-container .profile .profile__copy-holder .main-container__title {
    margin-bottom: 0;
  }
  body.home .main-container .profile .profile__copy-holder .main-container__subtitle {
    font-size: 25px;
  }
  body.home .main-container .profile .profile__copy-holder .main-container__subtitle span {
    font-size: 20px;
  }
}

@media all and (max-width: 1195px) {
  body.home .main-container .profile {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 900px) {
  body.home .main-container {
    padding: 48vw 20px 15vw;
  }
}

/* Work page */
body.work .grid__item {
  display: inline-block;
  width: 33%;
}

@supports (display: grid) {
  body.work .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin: 0;
  }
  body.work .grid .grid__item {
    background-color: #dccfff;
    padding: 40px;
    text-align: center;
    width: auto;
    min-height: auto;
    margin: 0;
    border-radius: 90px;
    -webkit-transition: border-radius 0.2s ease, -webkit-box-shadow 0.2s ease;
    transition: border-radius 0.2s ease, -webkit-box-shadow 0.2s ease;
    transition: box-shadow 0.2s ease, border-radius 0.2s ease;
    transition: box-shadow 0.2s ease, border-radius 0.2s ease, -webkit-box-shadow 0.2s ease;
  }
  body.work .grid .grid__item:hover {
    -webkit-box-shadow: 0 0 40px #dccfff;
            box-shadow: 0 0 40px #dccfff;
    border-radius: 0;
  }
  body.work .grid .grid__item .project-title {
    font-family: teko, sans-serif;
    margin-top: 0;
    color: #5b38c9;
    font-size: 30px;
  }
  body.work .grid .grid__item .project-description {
    color: #5b38c9;
    font-weight: 400;
  }
  @media all and (max-width: 600px) {
    body.work .grid {
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
    }
    body.work h1 {
      font-size: 50px;
    }
  }
  @media all and (min-width: 601px) and (max-width: 1024px) {
    body.work .grid {
      -ms-grid-columns: 1fr 1fr;
          grid-template-columns: 1fr 1fr;
    }
  }
}

/* About Page */
body.about .main-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

body.about .row {
  grid-gap: 20px;
}

body.about .row.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.about .row.about-me .skill-list {
  list-style-type: disc;
}

body.about .row.about-me .wrapper__about-me {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 80%;
          flex: 3 1 80%;
}

body.about .row.about-me .wrapper__main-skills {
  -webkit-box-flex: 2;
      -ms-flex: 2 0 20%;
          flex: 2 0 20%;
}

@media screen and (max-width: 1024px) {
  body.about .row.about-me {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

body.about .skills-grid__grid-item {
  display: inline-block;
  width: 33%;
}

@supports (display: grid) {
  body.about .skills-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  body.about .skills-grid .skills-grid__grid-item {
    width: 100%;
    text-align: left;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#03001f82), to(#4500ffcc));
    background-image: linear-gradient(#03001f82, #4500ffcc);
    border-bottom: 3px solid #ff32a5;
    padding: 0 20px;
    border-radius: 8px;
  }
  body.about .skills-grid .skills-grid__grid-item h3 {
    border-bottom: 2px solid #5b38c9;
    padding: 10px;
    text-align: center;
  }
  body.about .skills-grid .skills-grid__grid-item ul {
    padding-left: 0;
    -webkit-column-count: 2;
            column-count: 2;
  }
  body.about .skills-grid .skills-grid__grid-item ul li {
    font-size: 15px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  body.about .skills-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  body.about .skills-grid .skills-grid__grid-item h3 {
    text-align: center;
  }
  body.about .skills-grid .skills-grid__grid-item ul {
    text-align: center;
    font-size: 18px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  body.about .skills-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

/* Contact page */
body.contact .main-container .row.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

@media screen and (max-width: 600px) {
  body.contact .main-container .row.contact {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

body.contact .main-container .row .main-container__copy-holder .copy h1 {
  text-align: left;
}

@media screen and (max-width: 600px) {
  body.contact .main-container .row .main-container__copy-holder .copy h1 {
    text-align: center;
  }
}

body.contact .main-container .row .main-container__form-holder .form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

body.contact .main-container .row .main-container__form-holder .form .form__message-field {
  grid-column: 1/-1;
}

body.contact .main-container .row .main-container__form-holder .form .standard-label {
  color: #43fbfe;
  font-size: 16px;
  font-weight: 400;
}

body.contact .main-container .row .main-container__form-holder .form input,
body.contact .main-container .row .main-container__form-holder .form textarea {
  background-color: #0f00389e;
  border-color: #43fbfe;
  width: 100%;
  font-size: 15px;
  padding: 10px 8px;
  color: #43fbfe;
}

body.contact .main-container .row .main-container__form-holder .form input:focus,
body.contact .main-container .row .main-container__form-holder .form textarea:focus {
  -webkit-box-shadow: 0 0 20px #43fbfe;
          box-shadow: 0 0 20px #43fbfe;
}

body.contact .main-container .row .main-container__form-holder .form #submit-button {
  border: 1px solid #43fbfe;
  background: transparent;
  color: #43fbfe;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  grid-column: 1/-1;
  border-radius: 0;
}

body.contact .main-container .row .main-container__form-holder .form #submit-button:hover {
  -webkit-box-shadow: 0 0 20px #43fbfe;
          box-shadow: 0 0 20px #43fbfe;
}

@media screen and (max-width: 600px) {
  body.contact .main-container .row .main-container__form-holder .form #submit-button {
    width: 100%;
  }
}

body.contact .main-container .row .main-container__form-holder .form .recaptcha-field {
  grid-column: 1/-1;
}

body.contact .main-container .row .main-container__form-holder .form .recaptcha-field .g-recaptcha {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

@media screen and (max-width: 600px) {
  body.contact .main-container .row .main-container__form-holder .form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

body.contact .main-container .row .main-container__form-holder small {
  color: #43fbfe;
}

body.cv .main-container {
  max-width: 95%;
}

body.cv .main-container .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1500px) {
  body.cv .main-container .flex-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

body.cv .main-container .flex-container .flex-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin: 30px;
}

body.cv .main-container .flex-container .flex-item h2 {
  font-family: "neoneon", sans-serif;
}

body.cv .main-container .flex-container .flex-item .job {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  body.cv .main-container .flex-container .flex-item .job {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
}

body.cv .main-container .flex-container .flex-item .job .company-wrapper,
body.cv .main-container .flex-container .flex-item .job .description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 30px;
  margin: 30px;
}

@media screen and (max-width: 1024px) {
  body.cv .main-container .flex-container .flex-item .job .company-wrapper,
  body.cv .main-container .flex-container .flex-item .job .description {
    text-align: center !important;
  }
}

body.cv .main-container .flex-container .flex-item .job .company-wrapper {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-align: right;
}

@media screen and (max-width: 1024px) {
  body.cv .main-container .flex-container .flex-item .job .company-wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

body.cv .main-container .flex-container .flex-item .job .company-wrapper .company-name {
  font-size: 25px;
  font-weight: 600;
}

body.cv .main-container .flex-container .flex-item .job .company-wrapper .job-title,
body.cv .main-container .flex-container .flex-item .job .company-wrapper .time-window,
body.cv .main-container .flex-container .flex-item .job .company-wrapper .city {
  font-family: teko, sans-serif;
}

body.cv .main-container .flex-container .flex-item .job .company-wrapper .job-title {
  font-size: 23px;
}

body.cv .main-container .flex-container .flex-item .job .description {
  background-color: #0700225e;
  border: 1px solid #4500ff;
}

@media screen and (max-width: 1024px) {
  body.cv .main-container .flex-container .flex-item .job .description {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

body.cv .main-container .flex-container .flex-item .job .description p {
  font-size: 15px;
}

body.cv .main-container .flex-container .flex-item .job .description p b {
  font-weight: 600;
}

body.cv .main-container .flex-container .flex-item .job.flipped .company-wrapper {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-align: left;
}

body.cv .main-container .flex-container .flex-item .job.flipped .description {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-align: right;
}

body.cv .main-container .flex-container .flex-item .job-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 80%;
}
