@charset "UTF-8";
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;800&display=swap");
@font-face {
  font-family: "neoneon";
  src: url("../fonts/Neoneon.eot");
  src: url("../fonts/Neoneon.eot?#iefix") format("embedded-opentype"), url("../fonts/Neoneon.woff") format("woff"), url("../fonts/Neoneon.ttf") format("truetype"), url("../fonts/Neoneon.svg#rsuregular") format("svg");
}
/* Base elements */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

html {
  background: url("../img/footer-bkg.jpg") no-repeat center center fixed;
  background-size: cover;
}

body {
  font-family: roboto-condensed, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #dccfff;
  line-height: 1.2;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.home {
  justify-content: center;
}

main {
  width: 100%;
  flex: 1 0 auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1075px) {
  main {
    margin-top: 25%;
  }
}
footer {
  flex-shrink: 0;
}

h1 {
  color: #ff32a5;
  font-family: "neoneon", sans-serif;
  font-weight: 300;
  font-size: 60px;
  text-shadow: 0 0 20px #ff32a5;
  text-align: center;
}

h2 {
  font-family: teko, sans-serif;
  color: #ff32a5;
  font-size: 35px;
}

h3 {
  font-family: teko, sans-serif;
}

@media screen and (max-width: 600px) {
  h1,
  h2,
  h3 {
    text-align: center;
  }
  h1 {
    font-size: 50px;
  }
}
h4 {
  font-family: teko, sans-serif;
  font-size: 1.5rem;
}

p {
  font-family: roboto-condensed, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
}

@media screen and (max-width: 600px) {
  p {
    font-size: 16px;
    line-height: 1.4;
  }
}
a {
  color: #7f59ff;
  text-decoration: none;
  font-weight: 400;
}

a:visited {
  color: #7f59ff;
}

a:hover,
a:focus {
  color: #fff;
  text-shadow: 0 0 20px #ffffff;
}

a:active {
  color: #7f59ff;
}

ul {
  list-style-type: none;
}

ul li {
  padding: 0;
  margin: 0;
}

ul a {
  padding: 5px;
  display: block;
}

div {
  padding: 0;
  margin: 0;
}

.button, .button__secondary, .button__primary {
  border: none;
  font-family: inherit;
  background-color: #ff32a5;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #262626;
  padding: 10px 20px;
  border-radius: 3px;
  border-bottom: 4px solid #a8236e;
  transition: box-shadow 0.2s ease-in-out;
  margin-top: 40px 0;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}
.button:hover, .button__secondary:hover, .button__primary:hover, .button:focus, .button__secondary:focus, .button__primary:focus {
  cursor: pointer;
  box-shadow: 0 0 20px #ff32a5;
}

button,
a.button,
a.button__secondary,
a.button__primary {
  border: none;
  font-family: inherit;
  background-color: #ff32a5;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #262626;
  padding: 10px 20px;
  border-radius: 3px;
  border-bottom: 4px solid #b31e72;
  transition: box-shadow 0.2s ease-in-out;
  margin-top: 40px 0;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}
button:hover, button:focus,
a.button:hover,
a.button__secondary:hover,
a.button__primary:hover,
a.button:focus,
a.button__secondary:focus,
a.button__primary:focus {
  cursor: pointer;
  box-shadow: 0 0 20px #ff32a5;
}

@media screen and (max-width: 600px) {
  button,
  a.button,
  a.button__secondary,
  a.button__primary {
    display: block;
    text-align: center !important;
    width: 100%;
  }
}
.button__secondary {
  background-color: #43fbfe !important;
  border-bottom: 4px solid #01a4a7 !important;
}
.button__secondary:hover, .button__secondary:focus {
  box-shadow: 0 0 20px #43fbfe !important;
}

a.button__gradient {
  background: rgba(5, 0, 33, 0.3019607843);
  padding: 10px 15px;
  font-weight: 500;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  box-shadow: none;
  transition: box-shadow 0.2s ease-in;
}
a.button__gradient:hover {
  text-shadow: none !important;
  box-shadow: 0 0 20px #3500c9;
}
@media screen and (max-width: 600px) {
  a.button__gradient {
    width: 100%;
    text-align: center;
  }
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
}

.border-gradient-purple {
  border-image-source: linear-gradient(to left, #4500ff, #ff32a5);
  color: #ff32a5 !important;
}

.border-gradient-blue {
  border-image-source: linear-gradient(to left, #06dfe3, #4500ff);
  color: #01a4a7 !important;
}

/* Utilities */
.block {
  display: block !important;
}

@media screen and (max-width: 600px) {
  .block-for-mobile {
    display: block !important;
  }
}
.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.bold {
  font-weight: 500 !important;
}

.hide {
  display: none !important;
}

.no-show {
  visibility: hidden;
}

.row {
  padding: 60px 20px;
}

@media screen and (max-width: 600px) {
  .row {
    padding: 20px;
  }
}
/* Spacers */
.m-0 {
  margin: 0px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.p-0 {
  padding: 0px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.m-10 {
  margin: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.p-10 {
  padding: 10px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.m-20 {
  margin: 20px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.p-20 {
  padding: 20px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.m-30 {
  margin: 30px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.p-30 {
  padding: 30px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.m-40 {
  margin: 40px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.p-40 {
  padding: 40px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.m-50 {
  margin: 50px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.p-50 {
  padding: 50px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.pl-50 {
  padding-left: 50px !important;
}

.pr-50 {
  padding-right: 50px !important;
}

.m-60 {
  margin: 60px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.ml-60 {
  margin-left: 60px !important;
}

.mr-60 {
  margin-right: 60px !important;
}

.p-60 {
  padding: 60px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.pb-60 {
  padding-bottom: 60px !important;
}

.pl-60 {
  padding-left: 60px !important;
}

.pr-60 {
  padding-right: 60px !important;
}

.m-70 {
  margin: 70px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.ml-70 {
  margin-left: 70px !important;
}

.mr-70 {
  margin-right: 70px !important;
}

.p-70 {
  padding: 70px !important;
}

.pt-70 {
  padding-top: 70px !important;
}

.pb-70 {
  padding-bottom: 70px !important;
}

.pl-70 {
  padding-left: 70px !important;
}

.pr-70 {
  padding-right: 70px !important;
}

.m-80 {
  margin: 80px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.ml-80 {
  margin-left: 80px !important;
}

.mr-80 {
  margin-right: 80px !important;
}

.p-80 {
  padding: 80px !important;
}

.pt-80 {
  padding-top: 80px !important;
}

.pb-80 {
  padding-bottom: 80px !important;
}

.pl-80 {
  padding-left: 80px !important;
}

.pr-80 {
  padding-right: 80px !important;
}

.m-90 {
  margin: 90px !important;
}

.mt-90 {
  margin-top: 90px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.ml-90 {
  margin-left: 90px !important;
}

.mr-90 {
  margin-right: 90px !important;
}

.p-90 {
  padding: 90px !important;
}

.pt-90 {
  padding-top: 90px !important;
}

.pb-90 {
  padding-bottom: 90px !important;
}

.pl-90 {
  padding-left: 90px !important;
}

.pr-90 {
  padding-right: 90px !important;
}

.m-100 {
  margin: 100px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.ml-100 {
  margin-left: 100px !important;
}

.mr-100 {
  margin-right: 100px !important;
}

.p-100 {
  padding: 100px !important;
}

.pt-100 {
  padding-top: 100px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}

.pl-100 {
  padding-left: 100px !important;
}

.pr-100 {
  padding-right: 100px !important;
}

/* Animations */
@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow: 0 0 2rem #7f59ff, 0 0 4rem #7f59ff, 0 0 6rem #7f59ff, 0 0 8rem #7f59ff, 0 0 10rem #7f59ff;
    opacity: 1;
  }
  20%, 24%, 55% {
    text-shadow: none;
    box-shadow: none;
    opacity: 0;
  }
}
@keyframes soft-flicker {
  100% {
    text-shadow: 0 0 40px #ff32a5, 0 0 80px #ff32a5, 0 0 90px #ff32a5, 0 0 100px #ff32a5, 0 0 150px #ff32a5;
  }
  0% {
    text-shadow: 0 0 38px #ff32a5, 0 0 73px #ff32a5, 0 0 80px #ff32a5, 0 0 94px #ff32a5, 0 0 140px #ff32a5;
  }
}
/* Animation classes*/
.soft-flicker {
  animation: soft-flicker 1s ease-in-out infinite alternate;
}

.flicker {
  animation: flicker 1.5s infinite alternate;
}

.pink-glow {
  text-shadow: 0 0 21px #ff32a5, 0 0 42px #ff32a5, 0 0 82px #ff32a5, 0 0 92px #ff32a5, 0 0 102px #ff32a5, 0 0 151px #ff32a5;
}

.showWork {
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hideWork {
  display: none;
}

/* Header */
.page-header {
  background-image: linear-gradient(to right, #03001e, #270144);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 80px;
  z-index: 9999;
  display: flex;
  flex: 1 1 100%;
}
.page-header .page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}
.page-header .logo {
  width: 80px;
  height: 80px;
}
.page-header .navigation-list {
  margin: 0;
  padding: 23px 25px 0;
}
.page-header .navigation-list li {
  display: inline-block;
  padding: 0 10px;
  margin-left: 15px;
}
.page-header .navigation-list .navigation-list__item {
  font-family: teko, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #ff32a5;
  text-transform: capitalize;
  transition: text-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}
.page-header .navigation-list .navigation-list__item:visited {
  color: #ff32a5;
}
.page-header .navigation-list .navigation-list__item:hover, .page-header .navigation-list .navigation-list__item:focus {
  color: #fff;
  text-shadow: 0 0 20px #ffffff;
}
.page-header .navigation-list .navigation-list__item:active {
  color: #ff32a5;
}
.page-header .navigation-list .navigation-list__item--active {
  color: #fff !important;
  text-shadow: 0 0 20px #ffffff;
}
@media screen and (max-width: 600px) {
  .page-header .navigation-list {
    display: flex;
    justify-content: space-evenly;
    padding: 26px 0 0;
    text-align: center;
  }
  .page-header .navigation-list li {
    margin-left: 0;
    padding: 0;
  }
  .page-header .navigation-list li:first-child {
    display: none;
  }
}

/* Main Content */
.main-container {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8vw 20px;
  position: relative;
  max-width: 75%;
}

@media screen and (max-width: 600px) {
  .main-container {
    padding: 5vw 0 15vw;
    max-width: 100%;
  }
}
/* Footer */
.page-footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 60px 20px 20px;
}
.page-footer .logo-footer {
  flex: 1 1 100%;
  text-align: center;
}
.page-footer .logo-footer img {
  max-width: 64px;
  margin: auto;
}
.page-footer .footer__socials {
  text-align: center;
  flex: 1 1 100%;
}
.page-footer .footer__socials .socials-list {
  padding: 0;
}
.page-footer .footer__socials .socials-list li {
  display: inline-block;
  padding: 10px;
}
.page-footer .trademark {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
}
.page-footer .trademark p {
  font-size: 12px;
}
.page-footer .trademark.trademark-right {
  justify-content: flex-end;
}
@media screen and (max-width: 600px) {
  .page-footer .trademark {
    flex-basis: 100%;
    justify-content: center !important;
  }
}

/* ❤️ PAGES ❤️ */
/* Home */
body.home {
  justify-content: space-between;
}
body.home .main-container .profile {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
body.home .main-container .profile > [class^=profile] {
  padding: 20px;
}
body.home .main-container .profile .profile__photo-holder {
  white-space: nowrap;
  text-align: center;
  margin: 1em 0;
}
body.home .main-container .profile .profile__photo-holder .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
@media screen and (max-width: 600px) {
  body.home .main-container .profile .profile__photo-holder .helper {
    display: none;
  }
}
body.home .main-container .profile .profile__photo-holder .profile__portrait {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
  border: 6px solid #ff32a5;
  background: linear-gradient(to right, #b097fd, #5b38c9);
  box-shadow: 0 0 50px #ff32a5;
  vertical-align: middle;
}
@media screen and (max-width: 300px) {
  body.home .main-container .profile .profile__photo-holder .profile__portrait {
    max-width: 250px;
  }
}
body.home .main-container .profile .profile__copy-holder {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body.home .main-container .profile .profile__copy-holder .main-container__subtitle {
  font-family: "neoneon", sans-serif;
  font-size: 35px;
  color: #7f59ff;
  text-shadow: 0 0 20px #7f59ff;
  font-weight: 300;
  font-weight: 600;
}
body.home .main-container .profile .profile__copy-holder .main-container__subtitle span {
  font-size: 30px;
}
@media all and (max-width: 1195px) {
  body.home .main-container .profile .profile__copy-holder {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  body.home .main-container .profile .profile__copy-holder .main-container__title {
    margin-bottom: 0;
  }
  body.home .main-container .profile .profile__copy-holder .main-container__subtitle {
    font-size: 25px;
  }
  body.home .main-container .profile .profile__copy-holder .main-container__subtitle span {
    font-size: 20px;
  }
}
@media all and (max-width: 1195px) {
  body.home .main-container .profile {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 900px) {
  body.home .main-container {
    padding: 20px 15vw;
  }
}
body.home .main-container__socials-list {
  display: flex;
  padding: 0;
}
body.home .main-container__socials-list li {
  margin-right: 8px;
}
body.home .main-container__socials-list li:last-child {
  margin-right: 0;
}

/* Work page */
body.work video {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
body.work .main-container {
  max-width: 90%;
  padding: 4vw 20px;
}
body.work .main-container__copy-holder {
  width: 100%;
  padding: 3px;
  margin-top: 80px;
}
@media screen and (max-width: 600px) {
  body.work .main-container__copy-holder {
    width: auto;
  }
}
body.work .filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  body.work .filters {
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
  }
}
body.work .filters .filter-button {
  cursor: pointer;
}
body.work .filters .active-filter {
  box-shadow: 0px 0px 20px 0.5px #ff32a5;
}
body.work .projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
  grid-gap: 30px;
  padding: 10px;
}
body.work .projects .project {
  background-image: linear-gradient(to right, #01a4a7, #4500ff);
  border-bottom: 5px solid #3500c9;
  padding: 40px;
  text-align: center;
  width: auto;
  min-height: auto;
  margin: 0;
  transition: box-shadow 0.2s ease;
  width: 30%;
  max-width: auto;
}
@media screen and (max-width: 1650px) {
  body.work .projects .project {
    width: 48%;
    padding: 10px;
  }
}
@media screen and (max-width: 900px) {
  body.work .projects .project {
    width: auto;
    padding: 10px;
  }
}
body.work .projects .project:hover {
  box-shadow: 0 0 40px #4500ff;
}
body.work .projects .project .project-title {
  font-family: teko, sans-serif;
  margin-top: 0;
  color: #dccfff;
  font-size: 30px;
}
body.work .projects .project .project-description {
  color: #dccfff;
  font-weight: 400;
}
body.work .projects .project .project-link {
  color: #dccfff !important;
}
@media screen and (max-width: 600px) {
  body.work .projects .project {
    width: auto;
    padding: 40px 15px 30px;
  }
}
body.work .projects .project .project-screenshot img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
  box-shadow: 0px 3px 9px rgba(13, 0, 84, 0.5294117647);
}

/* About Page */
body.about {
  background-color: transparent !important;
}
body.about .main-container {
  display: grid;
  grid-template-columns: 1fr;
}
body.about .row {
  grid-gap: 20px;
}
body.about .row.about-me {
  display: flex;
}
body.about .row.about-me .skill-list {
  list-style-type: none;
  padding-left: 0;
}
body.about .row.about-me .skill-list li {
  margin-bottom: 6px;
}
@media screen and (max-width: 600px) {
  body.about .row.about-me .skill-list {
    padding-left: 56px;
  }
}
body.about .row.about-me .wrapper__about-me {
  flex: 3 1 80%;
}
body.about .row.about-me .wrapper__main-skills {
  flex: 2 0 20%;
}
@media screen and (max-width: 1024px) {
  body.about .row.about-me {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 600px) {
  body.about .row p {
    text-align: center;
  }
}
body.about .skills-grid__grid-item {
  display: inline-block;
  width: 33%;
}
@supports (display: grid) {
  body.about .skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  body.about .skills-grid .skills-grid__grid-item {
    width: 100%;
    text-align: left;
    background-image: linear-gradient(rgba(3, 0, 31, 0.5098039216), #4500ff);
    border-bottom: 5px solid #3500c9;
    padding: 0 20px;
    border-radius: 8px;
  }
  body.about .skills-grid .skills-grid__grid-item h3 {
    border-bottom: 2px solid #5b38c9;
    padding: 10px;
    text-align: center;
  }
  body.about .skills-grid .skills-grid__grid-item ul {
    padding-left: 0;
    -moz-column-count: 2;
         column-count: 2;
  }
  body.about .skills-grid .skills-grid__grid-item ul li {
    font-size: 15px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 600px) {
  body.about .skills-grid {
    grid-template-columns: 1fr;
  }
  body.about .skills-grid .skills-grid__grid-item h3 {
    text-align: center;
  }
  body.about .skills-grid .skills-grid__grid-item ul {
    text-align: center;
    font-size: 18px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  body.about .skills-grid {
    grid-template-columns: 1fr 1fr;
  }
}
body.about .reviews blockquote {
  border-left: 6px solid #ff32a5;
  padding-left: 10px;
}
body.about .reviews cite {
  float: right;
}

/* Contact page */
body.contact .main-container {
  padding: 5vw 20px 15vw;
}
body.contact .main-container .row.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}
@media screen and (max-width: 600px) {
  body.contact .main-container .row.contact {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
  body.contact .main-container .row.contact {
    padding: 0;
  }
}
body.contact .main-container .row .main-container__copy-holder .email-me-btn {
  margin-right: 20px;
}
@media screen and (max-width: 600px) {
  body.contact .main-container .row .main-container__copy-holder .email-me-btn {
    margin-right: 0;
  }
}
body.contact .main-container .row .main-container__copy-holder .copy h1 {
  text-align: left;
}
@media screen and (max-width: 600px) {
  body.contact .main-container .row .main-container__copy-holder .copy h1,
  body.contact .main-container .row .main-container__copy-holder .copy p {
    text-align: center;
  }
}
body.contact .main-container .row .main-container__form-holder .form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
@media screen and (max-width: 600px) {
  body.contact .main-container .row .main-container__form-holder .form {
    display: flex;
    flex-direction: column;
  }
}
body.contact .main-container .row .main-container__form-holder .form .error-message {
  color: #ff32a5;
  font-size: 14px;
  margin-top: 10px;
  font-weight: 400;
}
body.contact .main-container .row .main-container__form-holder .form .form__message-field {
  grid-column: 1/-1;
}
body.contact .main-container .row .main-container__form-holder .form .standard-label {
  color: #43fbfe;
  font-size: 16px;
  font-weight: 400;
}
body.contact .main-container .row .main-container__form-holder .form input,
body.contact .main-container .row .main-container__form-holder .form textarea {
  background-color: rgba(15, 0, 56, 0.6196078431);
  border-color: #43fbfe;
  width: 100%;
  font-size: 15px;
  padding: 10px 8px;
  color: #43fbfe;
}
body.contact .main-container .row .main-container__form-holder .form input:focus,
body.contact .main-container .row .main-container__form-holder .form textarea:focus {
  box-shadow: 0 0 20px #43fbfe;
}
body.contact .main-container .row .main-container__form-holder .form #submit-button {
  border: 1px solid #43fbfe;
  background: transparent;
  color: #43fbfe;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  grid-column: 1/-1;
  border-radius: 0;
}
body.contact .main-container .row .main-container__form-holder .form #submit-button:hover {
  box-shadow: 0 0 20px #43fbfe;
}
@media screen and (max-width: 600px) {
  body.contact .main-container .row .main-container__form-holder .form #submit-button {
    width: 100%;
  }
}
body.contact .main-container .row .main-container__form-holder .form .recaptcha-field {
  grid-column: 1/-1;
}
body.contact .main-container .row .main-container__form-holder .form .recaptcha-field .g-recaptcha {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
@media screen and (max-width: 600px) {
  body.contact .main-container .row .main-container__form-holder .form {
    grid-template-columns: 1fr;
  }
}
body.contact .main-container .row .main-container__form-holder small {
  color: #43fbfe;
}

body.cv .main-container {
  max-width: 95%;
}
body.cv .main-container .button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body.cv .main-container .flex-container {
  display: flex;
}
@media screen and (max-width: 1500px) {
  body.cv .main-container .flex-container {
    flex-wrap: wrap;
  }
}
body.cv .main-container .flex-container .flex-item {
  flex: 1 1 50%;
  margin: 30px;
}
body.cv .main-container .flex-container .flex-item h2 {
  font-family: "neoneon", sans-serif;
  color: #06dfe3;
}
body.cv .main-container .flex-container .flex-item .job {
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 1024px) {
  body.cv .main-container .flex-container .flex-item .job {
    flex-wrap: wrap-reverse;
  }
}
body.cv .main-container .flex-container .flex-item .job .company-wrapper,
body.cv .main-container .flex-container .flex-item .job .description {
  flex: 1 1 50%;
  padding: 30px;
  margin: 30px;
}
@media screen and (max-width: 1024px) {
  body.cv .main-container .flex-container .flex-item .job .company-wrapper,
  body.cv .main-container .flex-container .flex-item .job .description {
    text-align: center !important;
    border: 0;
    padding: 10px;
  }
}
body.cv .main-container .flex-container .flex-item .job .company-wrapper {
  height: -moz-max-content;
  height: max-content;
  text-align: center;
  background-image: linear-gradient(to right, #01a4a7, #4500ff);
  border-bottom: 5px solid #3500c9;
}
@media screen and (max-width: 1024px) {
  body.cv .main-container .flex-container .flex-item .job .company-wrapper {
    order: 2;
  }
}
body.cv .main-container .flex-container .flex-item .job .company-wrapper .company-name {
  font-size: 25px;
  font-weight: 600;
}
body.cv .main-container .flex-container .flex-item .job .company-wrapper .job-title,
body.cv .main-container .flex-container .flex-item .job .company-wrapper .time-window,
body.cv .main-container .flex-container .flex-item .job .company-wrapper .city {
  font-family: teko, sans-serif;
}
body.cv .main-container .flex-container .flex-item .job .company-wrapper .job-title {
  font-size: 23px;
}
body.cv .main-container .flex-container .flex-item .job .company-wrapper a.link-title {
  color: #dccfff;
}
body.cv .main-container .flex-container .flex-item .job .description {
  background-color: rgba(7, 0, 34, 0.368627451);
  border: 1px solid #4500ff;
  position: relative;
}
@media screen and (max-width: 1024px) {
  body.cv .main-container .flex-container .flex-item .job .description {
    order: 1;
  }
}
body.cv .main-container .flex-container .flex-item .job .description p {
  font-size: 15px;
}
body.cv .main-container .flex-container .flex-item .job .description p b {
  font-weight: 600;
}
body.cv .main-container .flex-container .flex-item .job .description:before {
  content: "";
  height: 2px;
  background: #4500ff;
  width: 30px;
  position: absolute;
  left: -30px;
  top: 50%;
}
@media screen and (max-width: 1024px) {
  body.cv .main-container .flex-container .flex-item .job .description:before {
    display: none;
  }
}
body.cv .main-container .flex-container .flex-item .job.flipped .company-wrapper {
  order: 2;
}
body.cv .main-container .flex-container .flex-item .job.flipped .description {
  order: 1;
  text-align: right;
  position: relative;
}
body.cv .main-container .flex-container .flex-item .job.flipped .description:before {
  position: absolute;
  left: 100%;
}
body.cv .main-container .flex-container .flex-item .job::before {
  content: "";
  background-color: #3500c9;
  width: 3px;
  height: 200px;
  position: absolute;
  left: 50%;
}
@media screen and (max-width: 1024px) {
  body.cv .main-container .flex-container .flex-item .job::before {
    display: none;
  }
}
body.cv .main-container .flex-container .flex-item .job-flex-container {
  display: flex;
  flex-direction: column;
  min-height: 80%;
}

body.thank-you .main-container {
  text-align: center;
}
body.thank-you .main-container .button__primary {
  margin: auto;
}

body.case-study {
  overflow-x: hidden;
  background-color: transparent !important;
}
body.case-study img {
  width: 100%;
}
body.case-study small {
  text-align: center !important;
}
body.case-study .main-container {
  max-width: auto !important;
}