// Color scheme

$main-bg-color: #03001e;

$primary-color: #ff32a5;
$secondary-color: #7f59ff;
$tertiary-color: #43fbfe;
$text-color: #dccfff;

// Fonts

$heading-font: "neoneon", sans-serif;
$sub-heading-font: teko, sans-serif;
$body-font: roboto-condensed, sans-serif;
